{% extends 'layout/base.html' %}
{% block preloader %} {% endblock %}
{% block loader %} {% endblock %}

{% block content %}
    <!-- Start Portfolio Details Area -->
    <section class="pf-details section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner-content">
                        <div class="image-slider">
                            <div class="pf-details-slider">
                                <img src="static/img/call-bg.jpg" alt="#">

                            </div>
                        </div>

                        <div class="body-text">
                            <h3>MediPlus - Đồ án môn Công nghệ Phần mềm</h3>
                            <div class="share">
                                <h4>Share Now -</h4>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}