{% extends 'layout/base.html' %}

{% block title %}Medicine{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customer/medicine.css') }}">
{% endblock %}

{% block js_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/customer/medicine.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="medicine-content">
        <div class="my-grid">
            <div class="my-row">
                <div class="my-col-3">
                    <div class="left">
                        <div class="filter">
                            <i class="fa-solid fa-filter"></i>
                            <h3>Advanced filter</h3>
                        </div>

                        <div class="filter-price">
                            <div class="filter-title">
                                <h3>Price</h3>
                                <div class="filter-title__btn">
                                    <i class="fa-solid fa-chevron-down btn-down btn-down-price"></i>
                                    <i class="fa-solid fa-chevron-up btn-up btn-up-price"></i>
                                </div>
                            </div>

                            <div class="filter-value">
                                <button>Ascending</button>
                                <button>Decrease</button>
                            </div>
                        </div>

                        <div class="filter-type-medicine">
                            <div class="filter-title">
                                <h3>Type medicine</h3>
                                <div class="filter-title__btn">
                                    <i class="fa-solid fa-chevron-down btn-down btn-down-type"></i>
                                    <i class="fa-solid fa-chevron-up btn-up btn-up-type"></i>
                                </div>
                            </div>

                            <div class="filter-value">
                                <div class="messageBox">
                                    <input required="" placeholder="Type medicine" type="text" class="messageInput"/>
                                    <button class="sendButton">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 664 663">
                                            <path
                                                    fill="none"
                                                    d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
                                            ></path>
                                            <path
                                                    stroke-linejoin="round"
                                                    stroke-linecap="round"
                                                    stroke-width="33.67"
                                                    stroke="#6c6c6c"
                                                    d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>

                            </div>
                        </div>

                        <div class="filter-name-medicine">
                            <div class="filter-title">
                                <h3>Name medicine</h3>
                                <div class="filter-title__btn">
                                    <i class="fa-solid fa-chevron-down btn-down btn-down-name"></i>
                                    <i class="fa-solid fa-chevron-up btn-up btn-up-name"></i>
                                </div>
                            </div>

                            <div class="filter-value">
                                <div class="messageBox">
                                    <input required="" placeholder="Name medicine" type="text" class="messageInput"/>
                                    <button class="sendButton">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 664 663">
                                            <path
                                                    fill="none"
                                                    d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
                                            ></path>
                                            <path
                                                    stroke-linejoin="round"
                                                    stroke-linecap="round"
                                                    stroke-width="33.67"
                                                    stroke="#6c6c6c"
                                                    d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-col-9">
                    <div class="shopping-header">
                        <h1>MediPlus Medicine Shop</h1>
                        <div class="shopping">
                            <img src="{{ url_for('static', filename='img/shopping.svg') }}" alt="Shopping">
                            <span class="quantity">{{ cart.total_quantity }}</span>
                        </div>
                    </div>

                    <div class="card-list">
                        {% for medicine in medicines %}
                            <div class="card-item">
                                <div class="card-item__image">
                                    <img src="{{ medicine.image }}" alt="{{ medicine.medicine_name }}">
                                </div>

                                <div class="card-item__type-medicine">
                                    <span>{{ medicine.medicine_type.type_of_medicine }}</span>
                                </div>

                                <div class="card-item__name">
                                    <span>{{ medicine.medicine_name }}</span>
                                </div>

                                <div class="card-item__price">{{ "{:,.0f}".format(medicine.price) }} VNĐ</div>

                                <div class="card-item__type">
                                    Type:
                                    <span>{{ medicine.medicine_unit.unit_name }}</span>
                                </div>

                                <div class="card-item__ingredient">
                                    Ingredient:
                                    <span>{{ medicine.description }}</span>
                                </div>

                                <div class="card-item__btn">
                                    <button onclick="addToCart({{ medicine.id }}, '{{ medicine.medicine_name }}', '{{ medicine.medicine_type.type_of_medicine }}',
                                            '{{ medicine.image }}', '{{ medicine.description }}', {{ medicine.price }})">
                                        Add to cart
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                    <div class="change">
                        <button>
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>

                        <button>
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}